.community-content {
    text-align: center;

    h2 {
        display: flex;
        max-width: 550px;
        margin: 0 auto;
    }
}

.community-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    flex-basis: 250px;
    height: 230px;
    padding: 25px;
    border: 1px solid white;
    margin: 15px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 1px 5px 6px 1px $text-color;
}