#demo {
    background-color: #f5f7fa;
}

.demo-content {
    width: 73.91%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.demo-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}