// Header
#header {
    background-color: #F5F7FA;
}

#header-container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

#nav {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

#button {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}

#sign-btn {
    border-style: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $color-primary;
    color: white;
}

#login-btn {
    border-style: none;
    padding: 5px 10px;
    background-color: #f5f7fa;
    color: $color-primary;
    font-weight: bold;
}

#nav a {
    font-size: 0.70;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

#logo {
    display: flex;
    flex-basis: 30%;
}