/* Helper */
.container {
    max-width: $container-big;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background-color: $color-primary;
    padding: 24px 10px;
    display: inline-block;
}

.btn.big {
    padding: 15px 30px;
    border-radius: 3px;
}

.bg-light {
    background-color: #ffffff;
}

.space-wrapper {
    padding: 60px 0;
}