#help-local {
    background-color: #F5F7FA;
}

#help-local-container {
    display: flex;
}

.help-local-content {
    flex-basis: 50%;
    margin-left: 5%;
    align-self: center;
}

.help-local-items {
    display: flex;
    flex-basis: 38%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-basis: 50%;
    gap: 15px;
}

.items-img {
    align-items: center;
}

.items-principal{
    display: flex;
    flex-wrap: wrap;
}

