.more-info-img {
    width: 38%;
    float: left;

    img {
        margin-left: 1%;
        width: 100%;
    }
}

.more-info-content {
    width: 55%;
    float: right;
    margin-left: 4%;
    margin-top: 70px;
    margin-bottom: 70px;
    line-height: 1.5;
}