.more-info-img {
    width: 45%;
    float: left;

    img {
        margin-left: 3%;
        width: 100%;
    }
}

.more-info-content {
    width: 50%;
    float: right;
    margin-left: 4%;
    margin-top: 90px;
    margin-bottom: 90px;
    align-items: center;
    line-height: 1.5;
}