.new-service {
    padding: 60px 0;
}

.new-service-content {
    width: 55%;
    float: left;
    margin-left: 4%;
    margin-top: 100px;
    margin-bottom: 90px;
    align-items: center;
}

.new-service-img {
    width: 40%;
    float: left;
    img {
        width: 70%;
        margin-left: 20%;
        margin-top: 50px;
    }
}