.new-service-general {
    display: flex;
}

.new-service-content {
    flex-basis: 60%;
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 90px
}

.new-service-img {
    flex-basis: 33%;
    img {
        width: 90%;
        margin-left: 10%;
        margin-top: 50px;
    }
}