#other-info {
    display: flex;
}

.other-info-content {
    flex-basis: 55%;
    margin-left: 10%;
    margin-top: 90px;
    margin-bottom: 90px;
    align-items: center;
    line-height: 1.5;
}

.other-info-img {
    flex-basis: 38%;
    img {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10%;
    }
}